/* background color */
.bg{
    background: #e9ecef;
}
.profile-bg{
    background: #343a40;
}
.card-bg{
    background: #f8f9fa;
}

/* button */
.btn:focus { 
    box-shadow: none !important;
}

.btn-round {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #f8f9fa;
}
.btn-round:hover { 
    background-color: #e9ecef
}

.btn-edit{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #f8f9fa;
    /* position: absolute;
    right: 2px; */
    /* top: 10px; */
}
.btn-edit:hover { 
    background-color: #e9ecef
}

/* accordion*/
.accordion-item {
    position: relative;
    background-color: #f8f9fa !important;
    width: 40%; 
}
.accordion-button {
    background-color: #f8f9fa !important; 
    position:relative;
    font-size: 20px;
    color: #343a40 !important;
    padding-left: 0px !important;
}
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%343a40'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button:not(.collapsed){
    border-bottom: 1px solid #cccc;
}


/* icon */
i{ -webkit-text-stroke: 2px; }
.icon-profile{
    color: white;
    font-size: 80px;
}
.icon-profile-edit{
    color: white;
}
.icon-n{
    -webkit-text-stroke: 0px;
}

tr{height: 70px;}
.td-title{
    width: 80%;
    vertical-align: middle;
    font-size: 20px;
}
.td-text{
    margin: auto;
}
.td-icon{
    vertical-align: middle;
    text-align: center;
}

pre{
    font-size: 18px;
}

/* login page */
.login {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9ecef;
    height: 110vh;
}

.register {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9ecef;
    height: 110vh;
}

.screen-1 .logo {
    color: black;
    font-size: 32px;
}

.screen-1 .username {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: black;
}
.screen-1 .username input {
    outline: none;
    border: none;
    width: 94%;
}
.screen-1 .username input::placeholder {
    color: gray;
    font-size: 0.9em;
}
.screen-1 .username ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}

.screen-1 .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: black;
}
.screen-1 .email input {
    outline: none;
    border: none;
    width: 94%;
}
.screen-1 .email input::placeholder {
    color: gray;
    font-size: 0.9em;
}
.screen-1 .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}

.screen-1 .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: black;
}
.screen-1 .password input {
    outline: none;
    border: none;
    width: 87.5%;
}
.screen-1 .password input::placeholder {
    color: gray;
    font-size: 0.9em;
}
.screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
    margin-right: -5em;
}

.screen-1 .button {
    padding: 1em;
    background: #343a40;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}
.screen-1 .loginButton {
    padding: 1em;
    background: #343a40;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 185px;
    font-weight: 600;
}
.screen-1 .registerButton {
    padding: 1em;
    background: #343a40;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 185px;
    font-weight: 600;
}
.screen-1 .footer {
    display: flex;
    font-size: 0.9em;
    color: #5e5e5e;
    gap: 14em;
    padding-bottom: 10em;
}

a:link { 
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none; 
}
a:visited {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: none; 
}
a:hover {
    color: #4d4d4d;
    background-color: transparent;
    text-decoration: underline;
}