<% layout("layouts/boilerplate")%>
    <h1>Name: <%= currentUser.username %> </h1>
    <h1>Email: <%= currentUser.email %> </h1>
    <div class="card mt-3">
        <h1 class="mb-3 text-primary">Credentials</h1>
        <%for(let credential of currentUser.credentials){%>
            <h2> &#9750 <%- credential.name %> </h2>
        <%}%>
    </div>
    <div class="mt-5">
        <form action="/myHomePage/<%= currentUser._id %> " class="needs-validation" novalidate method="POST"> <!-- Use bootstrap to validate not HTML -->
            <div>
                <label class="form-label h3" for="credentialName">Add credential</label>
                <input class="form-control" type="text" name="credentialName" id="credentialName" placeholder="Credential name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success mt-3">Add credential</button>
        </form>
    </div>
    <div>
        <a class="btn btn-success mt-3"href="/logout">logout</a>
    </div>